<footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>The Web Services</h3>
                    <ul>
                        <li><a href="/res/documentation/LBT_documentation.pdf">Development</a></li>
                        <li><a href="/pages/chlog.html">Changelog</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/pages/about.html">The team</a></li>
                        <li><a href="/pages/about.html">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Developing the website</h3>
                    <p>We adopted a minimalistic approach when it comes to the design of our webpage in order to maximize efficiency. As a team, we collectively agree upon the idea of making a website with user ergonomics in mind.</p>
                </div>
                <div class="col item social">
                    <a href="#">
                    <i class="icon ion-social-facebook"></i>
                    </a>

                    <a href="#">
                    <i class="icon ion-social-twitter"></i>
                    </a>

                    <a href="#">
                    <i class="icon ion-social-snapchat"></i>
                    </a>
                    
                    <a href="#">
                    <i class="icon ion-social-instagram"></i>
                    </a>
                </div>
            </div>
            <p class="copyright">Lubotics © 2021</p>
        </div>
</footer>